/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Root variables for color scheme and typography */
:root {
    --primary-color: #396e94; /* Ocean Blue */
    --secondary-color: #e7c24f; /* Sunset Gold */
    --accent1-color: #a43312; /* Clay Red */
    --accent2-color: #381d2a; /* Deep Maroon */
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Merriweather', serif;
    --navigation-background-color: var(--secondary-color);
    --navigation-link-color: #ffffff;
    --navigation-hover-link-color: var(--accent1-color);
    --navigation-hover-background-color: var(--primary-color);
}

/* General body styling */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: var(--primary-color);
}

/* Header styling */
header {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Styling for all headings h1 through h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

/* Paragraph styling */
p {
    padding: 10px 0;
}

/* Navigation styles */
nav {
    background-color: var(--navigation-background-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--navigation-link-color);
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--navigation-hover-background-color);
    color: var(--navigation-hover-link-color);
}

/* Style for the main content area */
main {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Footer styling */
footer {
    padding: 20px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    text-align: center;
}

/* Image responsiveness */
img {
    max-width: 100%;
    height: auto;
}
