main {
    width: 80%; /* Limiting the width of main content */
}

aside {
    width: 30%;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
}

aside img {
    width: 200px;
    height: auto; /* Maintains the aspect ratio of the image */
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
